<article>
    <small>
        <a href="{% url 'user_detail' comment.user.username %}" class="secondary">{{comment.user.username}}</a>
        {% if comment.has_beed_edited %}
            updated {{comment.update_date}}
        {% else %}
        created {{comment.creation_date}}
        {% endif %}
    </small>

    <p>{{comment.content}}</p>
        <div>
            <a href="{% url 'discussion' comment.pk %}" class="contrast">Discussion</a>
            {% if comment.user == user %}
            <a href="{% url 'review_comment_update' comment.review.pk comment.pk %}" class="contrast">Edit</a>
            <a href="{% url 'comment_delete' comment.pk %}" class="contrast">Remove</a>
            {% endif %}
        </div>
</article>