<article>
    <a href="{% url 'review_detail' review.pk %}">
        <h3>{{review.title}}</h3>
    </a>
    <small>
        <a href="{% url 'user_detail' review.user.username %}" class="secondary">{{review.user.username}}</a> | 
        <a href="https://{{review.article_doi}}">{{review.article_doi}}</a>
    </small>

    <p>{{review.content}}</p>
        <div>
            <a href="{% url 'comment_create' %}" class="contrast">Comments</a>
            {% if review.user == user %}
            <a href="{% url 'review_update' review.pk %}" class="contrast">Edit</a>
            {% endif %}
        </div>
</article>