<!DOCTYPE html>
<html>

<head>
    <title>ReviewArxiv</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    {% block headers %}{% endblock headers %}
</head>

<body style="width: 80%; margin: auto;">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}" class="contrast"><h1>ReviewArxiv</h1></a></li>
        </ul>
        <ul>
            <li><a href="{% url 'review_create' %}" class="contrast">+ New Review</a></li>
            <li><a href="#" class="contrast">My Profile</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock content %}
</body>

</html>