{% extends "reviews/base.html" %}

{% block content %}

<h2>{{object.title}}</h2>

<small>
    About: <a href="{{review.article_doi}}">{{object.article_doi}}</a>
</small>

<p>{{object.content}}</p>

<small>
    <a href="{% url 'user_detail' review.user.username %}" class="secondary">{{object.user.username}}</a>
    {% if object.has_beed_edited %}
    updated {{object.update_date}}
    {% else %}
    created {{object.creation_date}}
    {% endif %}
</small>

{% if object.user == user %}
<a href="{% url 'review_update' object.pk %}" class="contrast">Edit</a>
{% endif %}

<h3>Comment</h3>



<h3>Discussion</h3>

<a href="#" role="button">Discuss</a>

{% for comment in object.comments.all %}

{% include "reviews/_comment_card.html" with comment=comment user=user%}

{% endfor %}

{% endblock content %}