{% extends "reviews/base.html" %}

{% block content %}

<h2>Latest reviews</h2>

{% for review in reviews %}
<article>
    <a href="{% url 'review_detail' review.pk %}">
        <h3>{{review.title}}</h3>
    </a>
    <small>
        <a href="{% url 'user_detail' review.user.username %}" class="secondary">{{review.user.username}}</a> | 
        <a href="https://{{review.article_doi}}">{{review.article_doi}}</a>
    </small>

    <p>{{review.content}}</p>
        <div>
            <a href="{% url 'comment_create' %}" class="contrast">Comments</a>
            <a href="{% url 'comment_create' %}" class="contrast"></a>
            <a href="{% url 'comment_create' %}" class="contrast"></a>
        </div>
</article>


{% endfor %}

{% endblock content %}