{% extends "reviews/base.html" %}

{% block content %}

<h2>Lista Recenzji</h2>
{% if object_list %}
<form method="get">
    <select name="direction" onchange="this.form.submit()" style="width: fit-content;">
        <option value="asc" {% if current_direction=='asc' %}selected{% endif %}>ascending</option>
        <option value="desc" {% if current_direction=='desc' %}selected{% endif %}>descending</option>
    </select>
</form>

{% for review in object_list %}
{% include "reviews/_review_card.html" with review=review user=user%}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&direction={{ current_direction }}">previous</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&direction={{ current_direction }}">next</a>
        {% endif %}
    </span>
</div>


{% else %}
<p>Brak recenzji</p>
{% endif %}
{% endblock content %}