{% extends "reviews/base.html" %}

{% block content %}

<h2>Lista Recenzji</h2>
{% if object_list %}
    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>DOI Artykułu</th>
                <th>Autor</th>
                <th>Głosy</th>
                <th>Data Utworzenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for review in object_list %}
            <tr>
                <td>{{ review.title }}</td>
                <td>{{ review.article_doi }}</td>
                <td>{{ review.user|default:"Nieznany" }}</td>
                <td>{{ review.votes_count }}</td>
                <td>{{ review.creation_date|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'review_detail' pk=review.pk %}">Szczegóły</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Brak recenzji</p>
{% endif %}

<a href="{% url 'review_create' %}" role="button">Dodaj Nową Recenzję</a>

{% endblock content %}